body {
    background-color: rgb(220, 98, 135);
   
    
}
#display {
    border: 4px solid white;
    width: 240px;
    min-height: 100px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Space Mono', monospace;
    margin: 100px 0 0 0;
    text-align: right;

}

.calculator-grid {
    display: grid;
    min-height: 40vh;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: minmax(60px, auto) repeat(5, 60px);
    align-content: center;
    justify-content: center;
   
}

.calculator-grid > button {
    
    cursor: pointer;
    border: 4px solid white;
    color: white;
    background: 0;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
    border-radius: 50%;
}
.calculator-grid > button:hover {
    border: 6px solid white;

}


#textDisplay_current {
    color: white;
    text-align: right;
    text-justify: right;
    font-family: 'Space Mono', monospace;
    font-size: 2rem;
    margin: -3vw 0 0 0;
   
    
}
#textDisplay_prev {
    
    color: white; 
    text-align: right;
    text-justify: right;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    text-align: top;
    margin: 0 0 -3vw 0;
}

.number {
    font-size: 30px;
    font-family: 'Space Mono', monospace;  
}

#calculator {
    align-items: center;
    display: flex;
    flex-direction: column;
}

p {
    padding: 0px 5px 0 5px;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;

}
#clear {
    grid-column: span 2;
    border-radius: 0%;
    
}
#equal {
    grid-row: span 2;
    border-radius: 0%;
}

